@page
@{
    ViewData["Title"] = "Destruction of our Past from the HyperText Log";
    ViewData["WindowTitle"] = "Destruction-of-our-Past.html";
}

@section headblock
{
    <meta content="24 Feb. 2018 | A reflection on Yahoo deleting almost a Terabyte worth of content from Geocities in just 186 days and why I'm finally rebuilding my website." name="description">
    <meta content="A reflection on Yahoo deleting almost a Terabyte worth of content from Geocities in just 186 days and why I'm finally rebuilding my website." name="twitter:description" property="og:description">

    <meta content="2018-02-24" property="article:published_time">
}

<article>
    <h1 class="u-h1">Hyper&shy;Text Log:</h1>
    <h2 class="u-h2">
        <a id="destruction-of-our-past" href="#destruction-of-our-past" class="permalink" rel="bookmark" title="Permanent Link: Destruction of our Past">De&shy;struc&shy;tion of our Past.</a>
    </h2>
    <time datetime="2018-02-24" class="dt-published">24 Feb. 2018</time>

    <p>
        Startups get acquired. Walled gardens suddenly shut down. Drop * From --
    </p>
    <p>
        Everything is temporary.
    </p>
    <p>
        In 2009, Yahoo destroyed the most amount of history in the shortest amount of time
        <sup id="fnref:GeoCities-ArchiveTeam-02052014">
            <a href="#fn:GeoCities-ArchiveTeam-02052014" rel="footnote">[1]</a>
        </sup>
        , 15 years worth of amateur created web pages filled with stories, animated GIFs, family photo albums - all full of personalities and soul all deleted.
    </p>

    <p>
        The average lifespan of a web page is just 92 days
        <sup id="fnref:InternetHistoryIsFragile-PBS-01022017">
            <a href="#fn:InternetHistoryIsFragile-PBS-01022017" rel="footnote">[2]</a>
        </sup> yet Yahoo managed to delete almost a Terabyte worth of content just 186 days after Yahoo made it&rsquo;s announcement.


        Those who wanted to save their family photo albums could just move them to Flickr -

        <i class="sarcasm">
            <!-- <i> in HTML5 has semantic meaning - it denotes "a different quality of text" or "an alternative voice or mood" - https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-i-element -->
            I&rsquo;m sure that they would be safe there, after all storage doesn&rsquo;t seem to be an issue.
            <!-- https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-inbody and search for sarcasm -->
            </sarcasm>
            <span aria-hidden="true">/sarcasm.</span>
        </i>
        Since they offered one free Terabyte
        <sup id="fnref:FlickrAnnoucesOneFreeTerabyteOfStorage-Techcrunch-05202013">
            <a href="#fn:FlickrAnnoucesOneFreeTerabyteOfStorage-Techcrunch-05202013" rel="footnote">[3]</a>
        </sup> of storage, just ignore the fact they were also acquired by Yahoo in 2005.
    </p>

    <p>
        When hosting your content on a platform that is owned by a private corporation it has the ultimate say over what happens to information, photographs, conversations, and interaction that occurred within that space.
        <sup id="fnref:TheLifeAndDeathOfOnlineCommunities-AmericanProspect-08132009">
            <a href="#fn:TheLifeAndDeathOfOnlineCommunities-AmericanProspect-08132009" rel="footnote">[4]</a>
        </sup>

        So naturally it was a cue to panic when Yahoo CEO Marissa Mayer announced Yahoo acquired Tumblr and said &ldquo;We promise not to screw it up.&rdquo;
        <sup id="fnref:AgreementToAcquireTumblr-Marissa-03202013">
            <a href="#fn:AgreementToAcquireTumblr-Marissa-03202013" rel="footnote">[5]</a>
        </sup>
        in 2013 considering I was hosting my blog on Tumblr.
    </p>

    <p>
        As the years progressed - I kept <del>promising</del>&nbsp;<ins>lying to</ins> myself that this year would be the year I finally relaunch my website.
        Which is why when Verizon purchased Yahoo for $5 Billion in 2016.
        <sup id="fnref:YahooSellsToVerizonInSaddest5BillionDollarDealInTechHistory-Forbes-07252016">
            <a href="#fn:YahooSellsToVerizonInSaddest5BillionDollarDealInTechHistory-Forbes-07252016" rel="footnote">[6]</a>
        </sup> I refused to post on Tumblr to motivate myself to finally move my blog back into my site which would force me to finally update it after ~9 years.
    </p>

    <h3 id="welcome-to-the-reset" class="u-h3">
        <a href="#welcome-to-the-reset" class="permalink" rel="bookmark" title="Permanent Link: Welcome to the Reset">Welcome to the Reset.</a>
    </h3>

    <p>
        It was time to start over completely. Choose a new typeface, color scheme, redraw myself and make my site responsive. I started playing around with SVG, CSS Grid Layout, etc&hellip; and because I was focusing on perfection months started to pass then all of a sudden my hosting renewal bill comes in and my site is mostly unchanged from when I first started my career around 2010.
    </p>

    <p>
        When the web was young, people would just publish unfinished work all the time so I think I&rsquo;ll take a page out of the book <a href="http://blog.geocities.institute/archives/2933">Creating GeoCities Websites</a> and publish my unfinished site, even if it&rsquo;s not what I originally intended, because nothing will get done if I keep focusing on perfection.
    </p>

    <link href="~/css/objects.media.css" rel="stylesheet" />
    <link href="~/css/components.under-construction.css" rel="stylesheet" />

    <div class="o-media">
        <div class="o-media__image">
            <div class="construction"></div>
        </div>
        <div class="o-media__body">
            <sup id="fnref:UnderConstructionCredits">
                <a href="#fn:UnderConstructionCredits" rel="footnote">[7]</a>
            </sup> This web site will always be <a href="http://www.textfiles.com/underconstruction/">Under Construction</a>.
        </div>
    </div>

    <footer>
        <h4 class="u-h4">References</h4>

        <ol class="footnotes">
                @*<!-- MLA Website Citation Format: http://www.citationmachine.net/mla/cite-a-website/manual -->
                <!-- based off of https://adactio.com/journal/4675/ & http://microformats.org/wiki/h-cite -->*@
                <li class="footnote" id="fn:GeoCities-ArchiveTeam-02052014">
                    <cite class="h-cite">
                        <span class="p-name">&ldquo;GeoCities&rdquo;</span>, <span class="p-publication">ArchiveTeam Wiki</span>,
                        <time class="dt-published">
                            5 Feb. 2014
                        </time>
                        <a href="https://www.archiveteam.org/index.php?title=GeoCities" class="u-url">www.archiveteam.org/index.php?title=GeoCities</a>.
                        Accessed <time class="dt-accessed">13 Feb. 2018.</time>
                        @* TODO: Style the return to article jump *@
                        @*<sup><a href="#fnref:GeoCities-ArchiveTeam-02052014" title="return to article">&uarr;</a></sup>*@
                    </cite>
                </li>

                <li class="footnote" id="fn:InternetHistoryIsFragile-PBS-01022017">
                    <cite class="h-cite">
                        <span class="p-author h-card">Brown, Jeffrey. </span>
                        <span class="p-name">&ldquo;PBS NewsHour.&rdquo; Culture at Risk</span>
                        <time class="dt-published">
                            2 Jan. 2017
                        </time>,
                        <a href="https://www.pbs.org/newshour/show/internet-history-fragile-archive-making-sure-doesnt-disappear" class="u-url">www.pbs.org/newshour/show/internet-history-fragile-archive-making-sure-doesnt-disappear</a>.
                        Accessed <time class="dt-accessed">17 Feb. 2018.</time>
                    </cite>
                </li>

                <li class="footnote" id="fn:FlickrAnnoucesOneFreeTerabyteOfStorage-Techcrunch-05202013">
                    <cite class="h-cite">
                        <span class="p-name">&ldquo;Flickr Announces One Free Terabyte Of Storage Space Per User, Officially Beating Everyone&rdquo; </span>
                        <span class="p-author h-card">John Biggs</span>
                        <time class="dt-published">
                            20 May 2013
                        </time>,
                        <a href="https://techcrunch.com/2013/05/20/flickr-announces-one-free-terabyte-of-storage-space-per-user-officially-beating-everyone/" class="u-url">techcrunch.com/2013/05/20/flickr-announces-one-free-terabyte-of-storage-space-per-user-officially-beating-everyone/</a>.
                        Accessed <time class="dt-accessed">18 Feb. 2018</time>
                    </cite>
                </li>

                <li class="footnote" id="fn:TheLifeAndDeathOfOnlineCommunities-AmericanProspect-08132009">
                    <cite class="h-cite">
                        <span class="p-name">&ldquo;The Life and Death of Online Communities.&rdquo;</span>,
                        <span class="p-publication">The American Prospect</span>,
                        <span class="p-author h-card">Connelly, Phoebe</span> -
                        <time class="dt-published">
                            13 Aug. 2009
                        </time>,
                        <a href="http://prospect.org/article/life-and-death-online-communities" class="u-url">prospect.org/article/life-and-death-online-communities</a>.
                        Accessed <time class="dt-accessed">18 Feb. 2018</time>
                    </cite>
                </li>

                <li class="footnote" id="fn:AgreementToAcquireTumblr-Marissa-03202013">
                    <cite class="h-cite">
                        <span class="p-author h-card">Mayer, Marissa. </span>
                        <span class="p-name">&ldquo;I&rsquo;m delighted to announce that we’ve reached an agreement to acquire Tumblr!&rdquo;</span>,
                        <span class="p-publication">Tumblr</span>
                        <time class="dt-published">
                            20 May 2013
                        </time>
                        <a href="https://marissamayr.tumblr.com/post/50902274591/im-delighted-to-announce-that-weve-reached-an" class="u-url">
                            marissamayr.tumblr.com/post/50902274591/im-delighted-to-announce-that-weve-reached-an
                        </a>.
                        Accessed <time class="dt-accessed">18 Feb. 2018</time>
                    </cite>
                </li>

                <li class="footnote" id="fn:YahooSellsToVerizonInSaddest5BillionDollarDealInTechHistory-Forbes-07252016">
                    <cite class="h-cite">
                        <span class="p-author h-card">Brian Solomon </span>
                        <span class="p-name">
                            &ldquo;Yahoo Sells To Verizon In Saddest $5 Billion Deal In Tech History&rdquo;
                        </span>,
                        <span class="p-publication">Forbes</span>
                        <time class="dt-published">
                            25 Jul 2016
                        </time>
                        <a href="https://www.forbes.com/sites/briansolomon/2016/07/25/yahoo-sells-to-verizon-for-5-billion-marissa-mayer/#73f25358450f" class="u-url">
                            www.forbes.com/sites/briansolomon/2016/07/25/yahoo-sells-to-verizon-for-5-billion-marissa-mayer/
                        </a>.
                        Accessed <time class="dt-accessed">19 Feb. 2018</time>
                    </cite>
                </li>

                <li class="footnote" id="fn:UnderConstructionCredits">
                    <cite class="h-cite">
                        Pure CSS Under Construction GIF by <a href="https://codepen.io/joshnh/details/ohbHl"><span class="p-author h-card">Joshua Hibbert</span></a>
                    </cite>
                    and Thanks to user <a href="https://www.metafilter.com/85695/Please-Be-Patient-This-Page-is-Under-Construction#2774563" class="u-url">twoleftfeet</a> who states he made the first under construction icon in 1995.
                </li>
            </ol>
    </footer>
</article>