/**
 * Document
 *
 * 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
 * 2. Disable stylelint rule as border-box performance impact isn't significant when using the universal selector - https://www.paulirish.com/2012/box-sizing-border-box-ftw/#content
 *
 */

/* stylelint-disable selector-max-universal */
*,
*::before,
*::after {
    box-sizing: border-box; /* 1 */ /* 2 */
}
/* stylelint-enable selector-max-universal */

/**
 * Support: Accessibility (A11y)
 * Details: WCAG 2.4.7 Focus Visible: Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible. (Level AA)
 * Supporting Details: https://www.w3.org/TR/2008/REC-WCAG20-20081211/#navigation-mechanisms-focus-visible
 * Additional Details: http://www.outlinenone.com
 * Additional Details: https://www.deque.com/blog/give-site-focus-tips-designing-usable-focus-indicators/
 *
 * Support: IE11 - https://github.com/06b/adriandalvarez.com/issues/18
 * Details: According to Focusable Elements - Browser Compatibility Table by ally.js the <html> & <body> elements are tabbable (keyboard focusable) for IE.
 *          Also while the <html> element itself is not considered focusable, but some browsers may give it focus when focus is passed from browser UI to the document.
 * Supporting Details: https://allyjs.io/data-tables/focusable.html
 * Fix: Apply `:focus` to styles on child elements of the <body> rather than globally to all document elements which would include <html> & <body>.
 *
 */

body :focus {
    outline: 2px dashed currentColor;
}
