/**
 * Components - Window
 *
 * 1. Fallback for browsers that don't support Custom Properties: https://caniuse.com/#search=Custom%20Properties
 * 2. Browsers that support prefers-color-scheme (https://caniuse.com/#search=prefers-color-scheme)
 *    also support Custom Properties (https://caniuse.com/#search=Custom%20Properties), so don't worry about fallbacks.
 *
 * 3. Only apply box-shadow to browsers that also support CSS Feature Queries to reduce having to use js feature detection to fix a layout issue.
 *
 */

.window {
    background-color: #ebebeb; /* 1 */
    background-color: rgb(var(--palette-neutral-10));
    border: 6px double;
    border-color: #323232; /* 1 */
    border-color: rgb(var(--palette-neutral-80));
    border-radius: 2px;
    margin-top: 1.5em;
    max-width: 35.5em;
}

@supports (box-shadow: none) {
    .window {
        box-shadow: 6px 6px 0px #111111; /* 1 */ /* 3 */
        box-shadow: 6px 6px 0px rgb(var(--palette-neutral-100)); /* 3 */
    }
}

@supports (display: grid) {
    .window {
        margin-top: 1em;
        max-width: none;
    }

    @media (min-width: 30em) {
        .window {
            margin-top: 1.5em;
        }
    }

    .window:nth-last-child(2) {
        grid-area: content;
    }
}

@media (prefers-color-scheme: TODO-dark) {
    .window {
        background-color: rgb(var(--palette-neutral-10)); /* 2 */
        border-color: rgb(var(--palette-neutral-80)); /* 2 */
    }

    @supports (box-shadow: none) {
        .window {
            box-shadow: 6px 6px 0px rgb(var(--palette-neutral-0)); /* 2 */ /* 3 */
        }
    }
}

.window__title {
    background-color: #1c1c1c; /* 1 */
    background-color: rgb(var(--palette-neutral-90));
    color: #ebebeb; /* 1 */
    color: rgb(var(--palette-neutral-10));
    font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
    font-family: var(--font-family--monospace);
    padding: 0.25em;
}

@media (prefers-color-scheme: TODO-dark) {
    .window__title {
        background-color: rgb(var(--palette-neutral-10)); /* 2 */
        color: rgb(var(--palette-neutral-90)); /* 2 */
    }
}

.window__body {
    background-color: #ebebeb; /* 1 */
    background-color: rgb(var(--palette-neutral-10));
    color: #1c1c1c; /* 1 */
    color: rgb(var(--palette-neutral-90));
    padding: 0.25em 0.5em;
}

@media (prefers-color-scheme: TODO-dark) {
    .window__body {
        background-color: rgb(var(--palette-neutral-90)); /* 2 */
        color: rgb(var(--palette-neutral-10)); /* 2 */
    }
}

.window__body--dark {
    background-color: #1c1c1c; /* 1 */
    background-color: rgb(var(--palette-neutral-90));
    color: #ebebeb; /* 1 */
    color: rgb(var(--palette-neutral-10));
}

