/**
 * Components - Navigation
 *
 *
 * 1. Fallback for browsers that don't support Custom Properties: https://caniuse.com/#search=Custom%20Properties
 *
 * TODO: Review Ensure that `nav ul` styles are not bad for accessibility - https://github.com/mozdevs/cssremedy/issues/15
 *
 */

details {
    width: 23em;
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5em;
}

nav {
    font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
    font-family: var(--font-family--monospace);
}

/**
 * Navigation List
 *
 * 1. Remove default margin from <ul> when being used in <nav> - https://html.spec.whatwg.org/multipage/rendering.html#margin-collapsing-quirks
 * 2. Remove bullets from list items.
 *
 */

nav ul {
    margin: 0; /* 1 */
}

nav li {
    list-style-type: none; /* 2 */
}

/**
 * Support: Accessibility (A11y) - VoiceOver screen reader.
 * Details: Fix a11y issue with VoiceOver and list-style-type: none.
 * Supporting Details: https://unfetteredthoughts.net/2017/09/26/voiceover-and-list-style-type-none/
 *
 * 1. Add zero-width space, using the list item’s ::before pseudo element, re-introduces the list’s semantics.
 * 2. Ensures it doesn't cause a gap.
 *
 */

/**
 * Support: Legacy Browsers - Pseudo-elements
 * Details: The distinction between double colons & single colons were not present in older version of the spec,
 *          the first pseudo-elements had single colons, so legacy browsers implemented it as so.
 * Supporting Details: https://css-tricks.com/to-double-colon-or-not-do-double-colon/
 * Additional Details: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements#Syntax
 *
 */

nav li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
}

nav a {
    position: relative;
    padding: 0.75em;
    display: inline-block;
    text-underline-position: under;
    color: #ebebeb;
    color: currentColor;
}

nav a:hover
{
    /* Browsers that don't support `text-decoration-style: dashed` will hide underline on hover */
    /* TODO: Maybe instead invert the text & background? */
    text-decoration: none;
}

/**
 * Support: Microsoft Edge Version 78+ & Google Chrome Version 76+
 * Details: When using `text-underline-position: under;` it appears to cause a
 *          performance issue when adjusting the `text-decoration-style` on hover.
 * Supporting Details: https://crbug.com/991310
 *
 * 1. Force the browser to repaint the section in order to fix the hover delay.
 * 2. Re-enable underline and then apply dashed style.
 *
 */

@supports (text-decoration-style: dashed) {
    nav a:hover {
        outline: 1px solid rgba(255, 255, 255, 0.01); /* 1 */
        text-decoration: underline dashed; /* 2 */
    }
}

nav [aria-current="page"],
nav [aria-current="page"]:hover,
nav [aria-current="page"]:focus {
    text-decoration: none;
}

/**
 * Support: Legacy Browsers - Pseudo-elements
 * Details: The distinction between double colons & single colons were not present in older version of the spec,
 *          the first pseudo-elements had single colons, so legacy browsers implemented it as so.
 * Supporting Details: https://css-tricks.com/to-double-colon-or-not-do-double-colon/
 * Additional Details: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements#Syntax
 *
 */

nav [aria-current="page"]:before {
    content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #ebebeb;
    border-left-color: currentColor;
    position: absolute;
    top: 1em;
    left: 0.25em;
}

@media screen and (prefers-reduced-motion: no-preference) {
    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    nav [aria-current="page"]::before {
        animation: blink 1s infinite steps(1);
    }

    nav [aria-current="page"]:focus::before,
    nav [aria-current="page"]:hover::before {
        animation: none;
    }
}