/**
 * Elements - Links
 *
 */

a {
    text-decoration-skip-ink: auto;
}

main a {
    color: #0449a7;
    color: var(--palette-hyperlink-light);
    font-weight: bold;
}

main a:visited {
    color: #990d4c;
    color: var(--palette-hyperlink-light-visited);
}