/**
 * Elements - Typography
 *
 * These are base styles for typographic elements.
 *
 */


/**
 * HTML
 *
 * 1. For accessibility, the base line-height should be 1.5 times the base font-size - http://www.w3.org/TR/WCAG20/#visual-audio-contrast-visual-presentation
 *
 */

html {
    line-height: 1.5; /* 1 */
}


/**
 * Body
 *
 * 1. !!!Experimental!!! Prevent adjustments of font size after orientation changes - https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
 *      - (1a) Prefix for Edge 12+, Firefox for Android (49+) and in iOS
 *      - (1b) Prefix for Firefox for Android (14-48)
 *      - (1c) Prefix for IE on Windows Phone
 *
 * 2. !!!Non-Standard!!! The `text-rendering` property is an SVG property that is not defined in any CSS standard. - https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
 *    However, Gecko and WebKit browsers let you apply this property to HTML and XML content on Windows, macOS, and Linux.
 *    `text-rendering: optimizeLegibility;` instructs the browser to emphasizes legibility over rendering speed and geometric precision and enables
 *    kerning and optional ligatures.
 *
 * 3. Set of figures where numbers are all lying on the baseline.
 *
 * 4. Fallback for browsers that don't support Custom Properties: https://caniuse.com/#search=Custom%20Properties
 *
 * 5. Test for browsers that support Custom Properties & adjust spacing for webfont via https://meowni.ca/font-style-matcher/
 *
 */

body {
    -webkit-text-size-adjust: 100%; /* 1a */
    -moz-text-size-adjust: 100%; /* 1b */
    -ms-text-size-adjust: 100%; /* 1c */
    text-size-adjust: 100%; /* 1 */
    text-rendering: optimizeLegibility; /* 2 */
    font-variant-numeric: lining-nums /* 3 */;
    font-variant-ligatures: normal;
    font-family: "Charter", "Bitstream Charter", "Cambria", "Caladea", "Hoefler Text", "Liberation Serif", "Georgia", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

@supports (--i: 0) {
    body {
        font-family: var(--font-family--serif);
        letter-spacing: -0.35px /* 5 */;
        word-spacing: 0.1px /* 5 */;
    }
}

/**
 * !!!Non-Standard!!! `font-smooth` is non-standard and is not on a standards track. - https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
 *
 * Support: Typography - macOS
 * Details: Usually one should use `font-smoothing` on dark backgrounds only
 * Supporting Details: http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
 * Additional Details: https://caniuse.com/#search=font-smooth
 * Additional Details: https://www.zachleat.com/web/font-smooth/
 *
 *
 * 1. User prefers a dark color-scheme, so go ahead and use `font-smoothing`
 * 2. On HDPi or retina screens, subpixel anti-aliasing is increasingly unnecessary to render an accurate portrayal of a glyph.
 *    https://www.zachleat.com/web/font-smooth/#what%E2%80%99s-the-difference-between-these-modes%3F
 *
 *    Note: Because we have enough pixels here (retina!) it shouldn't be a problem. It just renders more beautiful.
 *    High DPI Media Query - https://gist.github.com/marcedwards/3446599
 *
 */

@media (prefers-color-scheme: dark) {
    body {
        -moz-osx-font-smoothing: grayscale; /* 1 */
        -webkit-font-smoothing: antialiased; /* 1 */
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 13/10),
       only screen and (min-resolution: 120dpi) {
    body {
        -moz-osx-font-smoothing: grayscale; /* 2 */
        -webkit-font-smoothing: antialiased; /* 2 */
    }
}

main {
    font-size: 1.1875em; /* 19px / 16px */
}

/**
 * Headings
 *
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes.
 * Related: https://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
 * Related: https://csswizardry.com/2016/02/managing-typography-on-large-apps/
 *
 * 1. Decrease the line-height of wrapped headings - https://twitter.com/heydonworks/status/672716556179283968
 * 2. Remove bottom margin to ensure vertical rhythm - https://csswizardry.com/2012/06/single-direction-margin-declarations/
 *
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.125; /* 1 */
    margin-bottom: 0;
    font-size: 1.0526315789473684210526315789474em; /* 20px / 19px */
}
