/**
 * Tokens
 *
 * Design tokens are the visual design atoms of the design system — specifically, they are named entities that store visual design attributes.
 *
 */

:root {

/**
 * Color Palette
 *
 * 1. Giving Colors More Colorful Names - https://www.viget.com/articles/naming-colors/
 * 2. Overlay Opacity Value - Opacity of True Black (#000000) on White - https://www.viget.com/articles/equating-color-and-transparency/
 * 3. Design Tip: Never Use Black: http://ianstormtaylor.com/design-tip-never-use-black/
 *
 * Variable Name | RGB Value | HEX Value | Color Name (1) | Overlay Opacity (2)
 *
 */

    --palette-neutral-0:   255, 255, 255; /* #ffffff - "White" - 0% */
    --palette-neutral-10:  235, 235, 235; /* #ebebeb - "Smoke" - 7.8431372549019605% */

    --palette-neutral-20:  190, 190, 190; /* #bebebe - "Silver" - 25.49019607843137% */
    --palette-neutral-40:  134, 134, 134; /* #868686 - "Gray" - 47.45098039215686% */
    --palette-neutral-60:  85, 85, 85;    /* #555555 - "Ash" - 66.66666666666666% */
    --palette-neutral-80:  50, 50, 50;    /* #323232 - "Shaft" - 80.3921568627451% */

    --palette-neutral-90:  28, 28, 28;    /* #1c1c1c - "Nero" - 89.01960784313725% */
    --palette-neutral-100: 1, 1, 1;       /* #111111 - "Black"(3) - 99.6078431372549% */

/**
 * Typography
 *
 * 1. Based off of the default monospace & sans-serif user interface font in all browsers - https://github.com/csstools/sanitize.css/blob/master/typography.css
 * 2. Compatibility for default local fonts confirmed via - http://fontfamily.io/
 * 3. List of products that supply Cambria - https://docs.microsoft.com/en-us/typography/font-list/cambria#products-that-supply-this-font
 * 4. Caladea is a metric-adjusted version of Cambo which matches Cambria. https://wiki.debian.org/SubstitutingCalibriAndCambriaFonts, https://github.com/zachleat/font-family-reunion/issues/49 & https://en.wikipedia.org/wiki/Croscore_fonts
 * 5. KaiOS uses Open Sans as the standard typeface on KaiOS. https://developer.kaiostech.com/design-guide/typography & https://medium.com/design-at-kai/optimizing-the-reading-experience-on-smart-feature-phones-11fb5658b59a
 *
 */

    --font-family--sans-serif: /* 1 */
    /* @font-face */ "Fira",
    /* macOS 10.11-10.12 */ -apple-system,
    /* macOS Chrome */ "BlinkMacSystemFont",
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ / Chrome OS */ "Roboto",
    /* KDE */ "Oxygen",
    /* Ubuntu 10.10+ */ "Ubuntu",
    /* Gnome 3+ */ "Cantarell",
    /* KaiOS */ "Open Sans", /* 5 */
    /* KDE Plasma 5+ */ "Noto Sans",
    /* Firefox OS */ "Fira Sans",
    /* macOS - Snow leopard 10.8.5+ & iOS - iPhone 6.0+ */"Avenir", /* 2 */
    /* macOS - Snow leopard 10.6.8+ & iOS - iPhone 5.1+ */ "Helvetica Neue",  /* 2 */
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

    --font-family--monospace: /* 1 */
    /* macOS 10.10+ */ "Menlo",
    /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";

    --font-family--serif:
    /* @font-face */ "Source Serif Pro",
    /* macOS - Mavericks 10.9.5 & iOS - iPhone 9.3 */ "Charter", /* 2 */
    /* Ubuntu 14.04 / Fedora 20 */ "Bitstream Charter", /* 2 */
    /* Windows 6+ / Windows Phone 8.0 / Fedora 20 / Office 2007 / Office Mac 2008 */ "Cambria", /* 2 */ /* 3 */
    /* Chrome OS */ "Caladea", /* 4 */
    /* macOS - Snow leopard 10.6.8+ & iOS - iPhone 5.1+ */ "Hoefler Text",
    /* Linux/OpenOffice fallback */ "Liberation Serif", /* 2 */
    /* Windows 5+ / Windows Phone 7.5 / Android 4+ (will render Noto Serif as it's Aliased as Georgia) */ "Georgia", /* 2 */
    /* fallback */ serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";


/**
 * Modular Scale - https://www.modularscale.com/?19,15&px&1.333
 *
 * 19px @ Perfect Fourth (1.333)
 * 15px @ Perfect Fourth (1.333)
 *
 *
 */
    --modular-scale-base: 1.1875rem; /* 19px / 16px = 1.1875 */
    --modular-scale-base--alt: calc(var(--modular-scale-base) * 0.7894736842105263); /* 19px * 0.7894736842105263 = 15px */
    --modular-scale-ratio--perfect-fourth : 1.333;

    --modular-scale--1: calc(var(--modular-scale-base) * var(--modular-scale-ratio--perfect-fourth)); /* 19px * 1.333 = 25.327px */ /* u-h6 @ min-width:0 */
    --modular-scale--2: calc(var(--modular-scale--1) * var(--modular-scale-ratio--perfect-fourth));   /* 25.327px * 1.333 = 33.760891px */ /* u-h3 & u-h4 @ min-width:0 */
    --modular-scale--3: calc(var(--modular-scale--2) * var(--modular-scale-ratio--perfect-fourth));   /* 33.760891px * 1.333 = 45.003267703px */ /* u-h1 & u-h2 @ min-width:0 */ /* u-h4 @ min-width:64em */
    --modular-scale--4: calc(var(--modular-scale--3) * var(--modular-scale-ratio--perfect-fourth));   /* 45.003267703px * 1.333 = 59.989355848099px */ /* u-h2 @ min-width:64em */

    --modular-scale--1--alt: calc(var(--modular-scale-base--alt) * var(--modular-scale-ratio--perfect-fourth));  /* 15px * 1.333 = 19.995px */
    --modular-scale--2--alt: calc(var(--modular-scale--1--alt) * var(--modular-scale-ratio--perfect-fourth));    /* 19.995px * 1.333 = 26.653px */ /* u-h5 @ min-width:0 */ /* u-h6 @ min-width:64em */
    --modular-scale--3--alt: calc(var(--modular-scale--2--alt) * var(--modular-scale-ratio--perfect-fourth));    /* 26.653px * 1.333 = 35.528449‬px */ /* u-h3 @ min-width:25em */ /* u-h5 @ min-width:64em */
    --modular-scale--4--alt: calc(var(--modular-scale--3--alt) * var(--modular-scale-ratio--perfect-fourth));    /* 35.528449px * 1.333 = 47.359422517‬‬px */ /* u-h1 & u-h2 @ min-width:25em */ /* u-h3 @ min-width:64em */
    --modular-scale--5--alt: calc(var(--modular-scale--4--alt) * var(--modular-scale-ratio--perfect-fourth));    /* 47.359422517‬‬px * 1.333 = 63.130110215161‬‬px */ /* u-h1 @ min-width:64em */

}
