/**
 * Headings
 *
 * Extra class names allow same font-size to be used on other elements to
 * maintain the semantically appropriate heading levels.
 *
 */

.u-h1 {
    font-size: 63.130px;
}

.u-h2 {
    font-size: 59.989px;
}

.u-h3 {
    font-size: 47.359px;
}

.u-h4 {
    font-size: 45.003px;
}

.u-h5 {
    font-size: 35.528px;
}

.u-h6 {
    font-size: 26.653px;
}