@page
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Adrian D. Alvarez</h1>
    <h2>Creative Tech&shy;nol&shy;o&shy;gist</h2>
    <p>
        <span aria-hidden="true">&lt;🦄&gt; </span>
        <strong>Creative Technologist &bull; noun</strong><br>
        <span>A person who has an understanding of the creative process and is responsible for creating digital experiences applying creativity through code. </span>
        <span aria-hidden="true">&lt;/🦄&gt;</span>
    </p>
</div>
