@page
@{
    ViewData["Title"] = "HyperText Markup Language";
    ViewData["WindowTitle"] = "WorldWideWeb.html";
}

<p>Regardless of the web development stack &amp; framework used to create a website, the most fundamental and important technology that remains the foundation of the World Wide Web is HyperText Markup Language.</p>

<p>However, you seem to be lost&hellip; I believe you are looking for something I may have wrote in my <a href="~/hypertext/log">HyperText Log</a> instead.</p>